.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 20px 20% 50px 20%;
  background-color: var(--sub-color);
}

.form-wrapper h2 {
  text-align: left;
}

.form-wrapper form {
  width: fit-content;
}

.form-wrapper button {
  width: 100%;
  border: none;
  margin-top: 20px;
  background-color: var(--main-color);
  color: var(--sub-color);
}

.form-wrapper input {
  border: 1px solid var(--main-color);
  background-color: var(--sub-color);
}

@media screen and (max-width: 492px) {
  .form-wrapper {
    padding: 20px 10% 50px 10%;
  }
}
