<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <form action="/api/auth/login" method="POST">
        <div>
          <label for="user_id">ID</label>
          <input id="user_id" name="user_id" type="text" />
        </div>
        <div>
          <label for="user_id">P/W</label>
          <input id="password" name="password" type="text" />
        </div>
        <div>
          <input type="submit" />
        </div>
      </form>
    </div>
  </body>
</html>
