@value headerHeight from '../../common/sizes.module.css';

.MazeRunner {
  text-align: center;
  width: 100%;
}

.Header {
  height: headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}
