.Header {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}
a {
  color: white !important;
  line-height: 35px;
  margin-right: 50px;
}
.login-button,
.logout-button {
  display: block;
  height: 32px;
  margin-right: 10px;
  border-radius: 3px;
  line-height: 32px;
  font-size: 16px;
  color: white !important;
}

.user-profile-image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-container {
  height: 32px;
  display: flex;
  margin: 1%;
}
