@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR&display=swap');

// Devices
$mobile: 335px;
$tablet: 758px;
$desktop: 1024px;

// Colors
$white: #fff;
$grayF9: #f9f9f9;
$grayF3: #f3f3f3;
$grayE: #eee;
$grayD: #ddd;
$grayC: #ccc;
$grayB: #bbb;
$gray3: #333;
$black: #000;
$red: #ff2c6f;
$blue: #2c64ff;

// Fonts
$fredokaOne: 'Fredoka One', cursive;
$notoSansKR: 'Noto Sans KR', sans-serif;
