@import '../styles/theme.module.scss';

.keywordContainer {
  display: flex;

  .keyword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    margin: 1vh 2vw;
    padding: 1vw;
    border-radius: 20px;
    background-color: $light-brown;
    color: $light-beige;
    font-size: $font-size-1;
  }
}
.toastContainer {
  position: fixed;
  top: 10vh;
  left: 50%;
  height: 50vh;
}
